html{
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

body{
    margin: 0;
    overflow: hidden;
    background-color: rgb(5, 133, 5);
    background: linear-gradient(90deg,rgb(5, 133, 5),rgb(23, 214, 23), rgb(7, 243, 7));
}

main{
    width: 940px;
    margin: 100px auto 0;
}

main section{
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.login{
    text-align: center;
}

.login img{
    width: 12%;
}

.login h2{
    font-size: 30px;
}

.login p{
    font-size: 18px;
}

.login button{
    width: 40%;
    border: none;
    border-radius: 15px;
    height: 30px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

.cadastro{
    background: #FFFFFF;
    border-radius: 1px 105px 105px 1px;
    height: 300px;
}

.cadastro h2{
    font-size: 30px;
    text-align: center;
}

.campos input{
    width: 45%;
    margin-bottom: 20px;
    border: none;
    border-bottom: solid 1px #000000;
    height: 30px;
    outline: none;
}

.campos button{
    width: 40%;
    border: none;
    border-radius: 15px;
    height: 30px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    background: rgb(23, 214, 23);
}